@mixin flexbox-layout($direction: row, $justify: space-between, $align: flex-start) {
   display: flex;
   justify-content: $justify;
   align-items: $align;
   flex-direction: $direction;
}
@mixin flexbox-layin()
{
   display: flex;
   justify-content: space-between;
}
@mixin for-fon()
{
   margin: 20px auto;
   padding: 20px;
   background-color: #ffffff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
}
